{% extends "base.html" %}

{% block title %}Site Map (DEVELOPMENT ONLY){% endblock %}

{% block content %}
<div id="container">
    <h1>SGA-LTI</h1>
    <hr>
    <p>This page assumes you have the mock data created via create_mock_data.py.</p>
    <p><b>Authentication</b></p>
    <ul>
    {% for user in users %}
        <li><a href="{% url 'dev_start' username=user.username %}">Log in as {{ user.username }}</a></li>
    {% endfor %}
    </ul>
    <p><b>View submission as student (student)</b></p>
    <ul>
    {% for assignment in assignments %}
        <li>
            <a href="{% url 'view_submission_as_student' assignment_id=assignment.edx_id %}" target="_blank">
                {{ assignment.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <p><b>View submission as staff (grader, admin)</b></p>
    <ul>
    {% for assignment in assignments %}
    {% for student in students %}
        <li>
            <a href="{% url 'view_submission_as_staff' assignment_id=assignment.edx_id student_user_id=student.user.username %}"
               target="_blank">
                {{ assignment.name }} for {{ student.user.username }}
            </a>
        </li>
    {% endfor %}
    {% endfor %}
    </ul>
    <p><b>View student list (grader, admin)</b></p>
    <ul>
        <li>
            <a href="{% url 'view_student_list' course_id=course.edx_id %}" target="_blank">
                {{ course.name }}
            </a>
        </li>
    </ul>
    <p><b>View assignment list (grader, admin)</b></p>
    <ul>
        <li>
            <a href="{% url 'view_assignment_list' course_id=course.edx_id %}" target="_blank">
                {{ course.name }}
            </a>
        </li>
    </ul>
    <p><b>View assignment (grader, admin)</b></p>
    <ul>
    {% for assignment in assignments %}
        <li>
            <a href="{% url 'view_assignment' assignment_id=assignment.edx_id %}" target="_blank">
                {{ assignment.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <p><b>View student (student, grader, admin)</b></p>
    <ul>
    {% for student in students %}
        <li>
            <a href="{% url 'view_student' course_id=course.edx_id student_user_id=student.user.username %}"
               target="_blank">
                {{ student.user.username }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <p><b>View grader (grader, admin)</b></p>
    <ul>
    {% for grader in graders %}
        <li>
            <a href="{% url 'view_grader' course_id=course.edx_id grader_user_id=grader.user.username %}"
               target="_blank">
                {{ grader.user.username }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <p><b>View grader list (admin)</b></p>
    <ul>
        <li>
            <a href="{% url 'view_grader_list' course_id=course.edx_id %}" target="_blank">
                {{ course.name }}
            </a>
        </li>
    </ul>
</div>
{% endblock %}

