{% extends "base.html" %}

{% block title %}Site Map (DEVELOPMENT ONLY){% endblock %}

{% block content %}
<div id="container">
    <h1>SGA-LTI</h1>
    <hr>
    <p>This page assumes you have the mock data created via create_mock_data.py.</p>
    <p><b>Authentication</b></p>
    <ul>
        <li><a href="{% url 'dev_start' username='student1' %}">Log in as student1</a></li>
        <li><a href="{% url 'dev_start' username='student2' %}">Log in as student2</a></li>
        <li><a href="{% url 'dev_start' username='student3' %}">Log in as student3</a></li>
        <li><a href="{% url 'dev_start' username='grader' %}">Log in as grader</a></li>
        <li><a href="{% url 'dev_start' username='admin' %}">Log in as admin</a></li>
    </ul>
    <p><b>View submission as student</b></p>
    <ul>
        <li>
            <a href="{% url 'view_submission_student' assignment_id='assignment1id' %}" target="_blank">
                Assignment 1
            </a>
        </li>
        <li>
            <a href="{% url 'view_submission_student' assignment_id='assignment2id' %}" target="_blank">
                Assignment 2
            </a>
        </li>
    </ul>
    <p><b>View submission as grader</b></p>
    <ul>
        <li>
            <a href="{% url 'view_submission_grader' assignment_id='assignment1id' student_user_id='student1' %}" target="_blank">
                Assignment 1 for student1
            </a>
        </li>
        <li>
            <a href="{% url 'view_submission_grader' assignment_id='assignment1id' student_user_id='student2' %}" target="_blank">
                Assignment 1 for student2
            </a>
        </li>
        <li>
            <a href="{% url 'view_submission_grader' assignment_id='assignment1id' student_user_id='student3' %}" target="_blank">
                Assignment 1 for student3
            </a>
        </li>
        <li>
            <a href="{% url 'view_submission_grader' assignment_id='assignment2id' student_user_id='student1' %}" target="_blank">
                Assignment 2 for student1
            </a>
        </li>
        <li>
            <a href="{% url 'view_submission_grader' assignment_id='assignment2id' student_user_id='student2' %}" target="_blank">
                Assignment 2 for student2
            </a>
        </li>
        <li>
            <a href="{% url 'view_submission_grader' assignment_id='assignment2id' student_user_id='student3' %}" target="_blank">
                Assignment 2 for student3
            </a>
        </li>
    </ul>
    <p><b>View assignment as grader</b></p>
    <ul>
        <li>
            <a href="{% url 'view_assignment_grader' assignment_id='assignment1id' %}" target="_blank">
                Assignment 1
            </a>
        </li>
        <li>
            <a href="{% url 'view_assignment_grader' assignment_id='assignment2id' %}" target="_blank">
                Assignment 2
            </a>
        </li>
    </ul>
    <p><b>View student list as grader</b></p>
    <ul>
        <li>
            <a href="{% url 'view_student_list' course_id='courseid' %}" target="_blank">
                Course 1
            </a>
        </li>
    </ul>
</div>
{% endblock %}

