{% extends "base.html" %}

{% block title %}Staff Home Page{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>
{% endblock %}

{% block content %}
    <h1>Staff Home Page</h1>
    
    <hr>
    
    <h4>Frequently Used Links</h4>
    <ul>
        <li>
            <a href="{% url 'view_student_list' course_id=course_id %}">
                View Student List
            </a>
        </li>
        <li>
            <a href="{% url 'view_assignment_list' course_id=course_id %}">
                View Assignment List
            </a>
        </li>
        {% if request.role == Roles.admin %}
        <li>
            <a href="{% url 'view_grader_list' course_id=course_id %}">
                View Grader List
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
