{% extends "base.html" %}
{% load staticfiles %}
{% load math %}

{% block title %}Grader List{% endblock %}

{% block head %}
    <link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dataTables.filters.js' %}"></script>
    <script>
        var table = $("#grader-list").DataTable({
            "columnDefs": [
                {
                    "targets": [5],
                    "visible": false
                }
            ]
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Course: {{ course.edx_id }}</h1>
    <h3>Grader List</h3>
    <hr>
    <h4>Filters</h4>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active" onclick="filterReset(table)">
            <input type="radio" checked>All Graders
        </label>
        <label class="btn btn-primary" onclick="filterGreaterThanZero(table, 5)">
            <input type="radio">Accepting Students
        </label>
        <label class="btn btn-primary" onclick="filterGreaterThanZero(table, 1)">
            <input type="radio">Has Students
        </label>
        <label class="btn btn-primary" onclick="filterEqualToZero(table, 1)">
            <input type="radio">Has No Students
        </label>
        <label class="btn btn-primary" onclick="filterGreaterThanZero(table, 4)">
            <input type="radio">Has Not Graded Submissions
        </label>
    </div>
    <br>
    <br>
    <table id="grader-list" class="table table-striped table-hover">
        <thead>
            <th>Name</th>
            <th>Students</th>
            <th>Max Students</th>
            <th>Graded</th>
            <th>Not Graded</th>
            <th>Students Remaining</th>
        </thead>
        <tbody>
        {% for grader in graders %}
            <tr>
                <td>{{ grader }}</td>
                <td>{{ grader.students.count }}</td>
                <td>{{ grader.max_students }}</td>
                <td>{{ grader.graded_submissions_count }}</td>
                <td>{{ grader.not_graded_submissions_count }}</td>
                <td>{{ grader.max_students|subtract:grader.students.count }}</td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
{% endblock %}

