{% extends "base.html" %}
{% load staticfiles %}

{% block title %}View Grader{% endblock %}

{% block head %}
    <link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .input-group-addon label {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
        $("#grader-assignment-list").DataTable();
        function changeGraderToStudent() {
            if (!confirm("{{ GRADER_TO_STUDENT_CONFIRM }}")) {
                return false
            }
            window.location.href = "{% url 'change_grader_to_student' grader_user_id=grader.user.username %}";
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Course: {{ course.name }}</h1>
    <h3>Grader: {{ grader.user.last_name }}, {{ grader.user.first_name }}</h3>
    
    <hr>
    
    <div class="panel panel-primary">
        <div class="panel-heading">Student Info</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>First Name:</dt>
                <dd>{{ grader.user.first_name }}</dd>
                <dt>Last Name:</dt>
                <dd>{{ grader.user.last_name }}</dd>
                <dt>Username:</dt>
                <dd>{{ grader.user.username }}</dd>
                <br>
                <dt>Date Joined:</dt>
                <dd>{{ grader.user.date_joined|date:SGA_DATETIME_FORMAT }}</dd>
                <br>
                <dt>Accepting Students:</dt>
                <dd>{% if grader.students.count < grader.max_students %}Yes{% else %}No{% endif %}</dd>
                <dt>Number of Students:</dt>
                <dd>{{ grader.students.count }}</dd>
                <dt>Max Students:</dt>
                <dd>{{ grader.max_students }}</dd>
                <br>
                <dt>Graded:</dt>
                <dd>{{ grader.graded_submissions_count }}</dd>
                <dt>Not Graded:</dt>
                <dd>{{ grader.not_graded_submissions_count }}</dd>
            </dl>
        </div>
    </div>
    
    <br>
    
    <h3>Graded Submissions</h3>
    
    <hr>
    
    <table id="grader-assignment-list" class="table table-striped table-hover">
        <thead>
            <th>Assignment Name</th>
            <th>Student Name</th>
            <th>Graded At</th>
            <th>Grade</th>
            <th>View Submission</th>
        </thead>
        <tbody>
        {% for submission in graded_submissions %}
            <tr>
                <td>
                    <a href="{% url 'view_assignment' assignment_id=submission.assignment.edx_id %}">
                        {{ submission.assignment.name }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'view_student' course_id=course.edx_id student_user_id=submission.student.username %}">
                        {{ submission.student.last_name }}, {{ submission.student.first_name }}
                    </a>
                </td>
                <td data-sort="{{ submission.graded_at|date:EPOCH_FORMAT }}">
                    {{ submission.graded_at|date:SGA_DATETIME_FORMAT }}
                </td>
                <td data-sort="{{ submission.grade }}">{{ submission.grade_display }}</td>
                <td>
                    <a href="{% url 'view_submission_as_staff' assignment_id=submission.assignment.edx_id student_user_id=submission.student.username %}">
                        View Submission
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if role == Roles.admin %}
    <div class="clearfix"></div>
    <br>
    
    <div class="panel panel-info">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block" onclick="changeGraderToStudent()">
                    Change Grader to Student
                </button>
            </div>
            <br class="visible-xs">
            <div class="col-sm-6">
                <form action="" method="post">{% csrf_token %}
                    <div id="div_id_{{ grader_form.max_students.name }}" class="input-group
                         {% if grader_form.max_students.errors %}has-error{% endif %}">
                        <div class="input-group-addon">
                            <label for="{{ grader_form.max_students.id_for_label }}" class="control-label required-field">Max Students</label>
                        </div>
                        <input type="number" name="{{ grader_form.max_students.name }}"
                               id="{{ grader_form.max_students.id_for_label }}" class="form-control"
                               value="{{ grader_form.max_students.value }}">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </span>
                    </div>
                    {% if grader_form.max_students.errors %}
                    <span id="error_id_{{ grader_form.max_students.name }}" class="error-msg">
                        {{ grader_form.max_students.errors|first }}
                    </span>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}