{% extends "base.html" %}
{% load staticfiles %}

{% block title %}PLACEHOLDER{% endblock %}

{% block head %}
    <link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
        $("#student-list").DataTable();
    </script>
{% endblock %}

{% block content %}
    <h1>Course: {{ course.name }}</h1>
    <h3>Assignment: {{ assignment.name }}</h3>
    <hr>
    <table id="student-list" class="table table-striped table-hover">
        <thead>
            <th>Student</th>
            <th>Submitted</th>
            <th>Graded</th>
            <th>Show Submission</th>
        </thead>
        <tbody>
        {% for student_user in student_users %}
            <tr>
                <td>{{ student_user.last_name }}, {{ student_user.first_name }}</td>
                <td>{{ student_user.submitted }}</td>
                <td>{{ student_user.graded }}</td>
                <td><a href="{% url 'view_submission_grader' assignment_id=assignment.edx_id student_user_id=student.username %}">View Submission</a></td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
{% endblock %}

