{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Assignment List{% endblock %}

{% block head %}
    <link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dataTables.filters.js' %}"></script>
    <script>
        var table = $("#assignment-list").DataTable();
    </script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'staff_index' course_id=request.course.id %}">Home</a></li>
        <li class="active">Assignment List</li>
    </ol>
{% endblock %}

{% block content %}
    {% if grader_user %}
    <h3>Assignment List (Grader: {{ grader_user.username }})</h3>
    {% else %}
    <h3>Assignment List (All Graders)</h3>
    {% endif %}
    <hr>
    <h4>Filters</h4>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active" onclick="filterReset(table)">
            <input type="radio" checked>All Assignments
        </label>
        <label class="btn btn-primary" onclick="filterGreaterThanZero(table, 1)">
            <input type="radio">Has Not Submitted Submissions
        </label>
        <label class="btn btn-primary" onclick="filterGreaterThanZero(table, 2)">
            <input type="radio">Has Not Graded Submissions
        </label>
        <label class="btn btn-primary" onclick="filterGreaterThanZero(table, 3)">
            <input type="radio">Has Graded Submissions
        </label>
    </div>
    
    <br>
    <br>
    
    <table id="assignment-list" class="table table-striped table-hover">
        <thead>
            <th>Assignment Name</th>
            <th>Not Submitted</th>
            <th>Not Graded</th>
            <th>Graded</th>
        </thead>
        <tbody>
        {% for assignment in assignments %}
            <tr>
                <td>
                    <a href="{% url 'view_assignment' course_id=request.course.id assignment_id=assignment.id %}">
                        {{ assignment.name }}
                    </a>
                </td>
                <td>{{ assignment.not_submitted_count }}</td>
                <td>{{ assignment.not_graded_count }}</td>
                <td>{{ assignment.graded_count }}</td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
{% endblock %}

