{% extends "base.html" %}
{% load staticfiles %}

{% block title %}View Grader{% endblock %}

{% block head %}
    <link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .input-group-addon label {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script>
        $("#student-list").DataTable();
        $("#grader-assignment-list").DataTable();
        function changeGraderToStudent() {
            if (!confirm("{{ GRADER_TO_STUDENT_CONFIRM }}")) {
                return false
            }
            window.location.href = "{% url 'change_grader_to_student' grader_user_id=grader.user.username %}";
        }
        function unassignStudent(studentName, url) {
            if (!confirm(studentName + ":\n\n{{ UNASSIGN_STUDENT_CONFIRM }}")) {
                return false;
            }
            window.location.href = url;
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Course: {{ course.name }}</h1>
    <h3>Grader: {{ grader }}</h3>
    
    <hr>
    
    <div class="panel panel-primary">
        <div class="panel-heading">Student Info</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>First Name:</dt>
                <dd>{{ grader.user.first_name }}</dd>
                <dt>Last Name:</dt>
                <dd>{{ grader.user.last_name }}</dd>
                <dt>Username:</dt>
                <dd>{{ grader.user.username }}</dd>
                <br>
                <dt>Date Joined:</dt>
                <dd>{{ grader.user.date_joined|date:SGA_DATETIME_FORMAT }}</dd>
                <br>
                <dt>Accepting Students:</dt>
                <dd>{% if grader.students.count < grader.max_students %}Yes{% else %}No{% endif %}</dd>
                <dt>Number of Students:</dt>
                <dd>{{ grader.students.count }}</dd>
                <dt>Max Students:</dt>
                <dd>{{ grader.max_students }}</dd>
                <br>
                <dt>Graded:</dt>
                <dd>{{ grader.graded_submissions_count }}</dd>
                <dt>Not Graded:</dt>
                <dd>{{ grader.not_graded_submissions_count }}</dd>
            </dl>
        </div>
    </div>
    
    <br>
    
    <h3>Student List</h3>
    
    <hr>
    
    <table id="student-list" class="table table-striped table-hover">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Not Graded Submissions</th>
            {% if role == Roles.admin %}<th>Unassign Student</th>{% endif %}
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>
                    <a href="{% url 'view_student' course_id=course.edx_id student_user_id=student.user.username %}">
                        {{ student }}
                    </a>
                </td>
                <td>{{ student.user.email }}</td>
                <td>{{ student.not_graded_submissions_count }}</td>
                {% if role == Roles.admin %}
                <td>
                    <a href="javascript:void(0)"
                       onclick="unassignStudent('{{ student }}', '{% url 'unassign_student' grader_user_id=grader.user.username student_user_id=student.user.username %}')">
                        Unassign Student
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}    
        </tbody>
    </table>
    
    <br>
    
    <h3>Graded Submissions</h3>
    
    <hr>
    
    <table id="grader-assignment-list" class="table table-striped table-hover">
        <thead>
            <th>Assignment Name</th>
            <th>Student Name</th>
            <th>Graded At</th>
            <th>Grade</th>
            <th>View Submission</th>
        </thead>
        <tbody>
        {% for submission in graded_submissions %}
            <tr>
                <td>
                    <a href="{% url 'view_assignment' assignment_id=submission.assignment.edx_id %}">
                        {{ submission.assignment.name }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'view_student' course_id=course.edx_id student_user_id=submission.student.username %}">
                        {{ submission.student.get_full_name }}
                    </a>
                </td>
                <td data-sort="{{ submission.graded_at|date:EPOCH_FORMAT }}">
                    {{ submission.graded_at|date:SGA_DATETIME_FORMAT }}
                </td>
                <td data-sort="{{ submission.grade }}">{{ submission.grade_display }}</td>
                <td>
                    <a href="{% url 'view_submission_as_staff' assignment_id=submission.assignment.edx_id student_user_id=submission.student.username %}">
                        View Submission
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if role == Roles.admin %}
    <div class="clearfix"></div>
    <br>
    <br>
    
    <div class="panel panel-info">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <form action="" method="post">{% csrf_token %}
                        <div id="div_id_{{ max_students_form.max_students.name }}" class="input-group
                             {% if max_students_form.max_students.errors %}has-error{% endif %}">
                            <div class="input-group-addon">
                                <label for="{{ max_students_form.max_students.id_for_label }}"
                                       class="control-label required-field">
                                    Max Students
                                </label>
                            </div>
                            <input type="number" name="{{ max_students_form.max_students.name }}"
                                   id="{{ max_students_form.max_students.id_for_label }}" class="form-control"
                                   value="{{ max_students_form.max_students.value }}">
                            <span class="input-group-btn">
                                <input name="max_students_submit" value="Submit" class="btn btn-success" type="submit">
                            </span>
                        </div>
                        {% if max_students_form.max_students.errors %}
                        <span id="error_id_{{ max_students_form.max_students.name }}" class="error-msg">
                            {{ max_students_form.max_students.errors|first }}
                        </span>
                        {% endif %}
                    </form>
                </div>
                <br class="visible-xs">
                <div class="col-sm-6">
                    <form action="" method="post">{% csrf_token %}
                        <div id="div_id_{{ assign_student_form.students.name }}" class="input-group
                             {% if assign_student_form.students.errors %}has-error{% endif %}">
                            <select name="{{ assign_student_form.students.name }}"
                                   id="{{ assign_student_form.students.id_for_label }}" class="form-control">
                            {% for id, name in assign_student_form.students.field.choices %}
                                <option value="{{ id }}">{{ name }}</option>
                            {% endfor %}
                            </select>
                            <span class="input-group-btn">
                                <input name="assign_student_submit" value="Assign This Student"
                                       class="btn btn-success" type="submit">
                            </span>
                        </div>
                        {% if assign_student_form.students.errors %}
                        <span id="error_id_{{ assign_student_form.students.name }}" class="error-msg">
                            {{ assign_student_form.students.errors|first }}
                        </span>
                        {% endif %}
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-primary btn-block" onclick="changeGraderToStudent()">
                        Change Grader to Student
                    </button>
                </div>
                <br class="visible-xs">
                <div class="col-sm-6">
                    <button class="btn btn-primary btn-block" onclick="changeGraderToStudent()">
                        Unassign All Students
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <br>
    <br>
{% endblock %}