{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Student List{% endblock %}

{% block head %}
    <link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dataTables.filters.js' %}"></script>
    <script>
        var table = $("#student-list").DataTable();
    </script>
{% endblock %}

{% block content %}
    <h1>Course: {{ course.name }}</h1>
    {% if grader_user %}
    <h3>Student List (Grader: {{ grader_user.get_full_name }})</h3>
    {% else %}
    <h3>Student List (All)</h3>
    {% endif %}
    <hr>
    <h4>Filters</h4>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default active" onclick="filterReset(table)">
            <input type="radio" checked>All Students
        </label>
        <label class="btn btn-default" onclick="filterHasNoGrader(table, 1)">
            <input type="radio">Has No Grader
        </label>
        <label class="btn btn-default" onclick="filterHasGrader(table, 1)">
            <input type="radio">Has Grader
        </label>
        <label class="btn btn-default" onclick="filterGreaterThanZero(table, 3)">
            <input type="radio">Has Not Graded Submission
        </label>
    </div>
    <br>
    <br>
    <table id="student-list" class="table table-striped table-hover">
        <thead>
            <th>Name</th>
            <th>Grader</th>
            <th>Email</th>
            <th>Not Graded Submissions</th>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>
                    <a href="{% url 'view_student' course_id=course.edx_id student_user_id=student.user.username %}">
                        {{ student }}
                    </a>
                </td>
                <td>
                {% if student.grader %}
                    <a href="{% url 'view_grader' course_id=course.edx_id grader_user_id=student.grader.user.username %}" target="_blank">
                        {{ student.grader }}
                    </a>
                {% else %}
                    (No Grader)
                {% endif %}
                </td>
                <td>{{ student.user.email }}</td>
                <td>{{ student.not_graded_submissions_count }}</td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
{% endblock %}

