{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}View Submission{% endblock %}

{% block content %}
    <h1>Assignment: {{ assignment.name }}</h1>
    <h3>Student: {{ student_user.get_full_name }}</h3>
    <hr>
    
    {% include "common/submission_status.html" %}
    
    {% if submission.submitted and not submission.graded or submission.submitted and role == Roles.admin %}
    <form action="{% url 'view_submission_as_staff' assignment_id=assignment.edx_id student_user_id=student_user.username %}" class="form-horizontal"
          method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ submission_form|as_bootstrap_horizontal:"col-sm-3" }}
        <button class="btn btn-success pull-right" type="submit">Submit</button>
    </form>
    
    <div class="clearfix"></div>
    <br>
    {% endif %}
    
    <div class="panel panel-info">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <div class="col-sm-6">
            {% if next_not_graded_submission_url %}
                <a href="{{ next_not_graded_submission_url }}" class="btn btn-primary btn-block">
                    Next Not Graded Submissions
                </a>
            {% else %}
                <button class="btn btn-default btn-block" disabled>No More Not Graded Submission</button>
            {% endif %}
            </div>
            {% if role == Roles.admin %}
            <div class="col-sm-6">
                <a href="{% url 'unsubmit_submission' assignment_id=submission.assignment.edx_id student_user_id=student_user.username %}"
                   class="btn btn-primary btn-block">
                    Mark as Not Submitted
                </a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

