<div class="panel panel-primary">
    <div class="panel-heading">Submission Status</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Submitted:</dt>
            <dd>{% if submission.submitted %}Yes{% else %}No{% endif %}</dd>
        {% if submission.submitted %}
            <dt>File Submission</dt>
            <dd><a href="{{ submission.student_document.url }}" target="_blank">View File</a></dd>
            <dt>File Description:</dt>
            <dd>{{ submission.description }}</dd>
            <dt>Submitted at:</dt>
            <dd>{{ submission.submitted_at|date:SGA_DATETIME_FORMAT }}</dd>
            <br>
            <dt>Grade:</dt>
            <dd>{% if submission.graded %}{{ submission.grade }}{% else %}(Pending){% endif %}</dd>
        {% if submission.graded %}
            <dt>Annotated File:</dt>
            <dd><a href="{{ submission.grader_document.url }}" target="_blank">View File</a></dd>
            <dt>Feedback:</dt>
            <dd>{{ submission.feedback }}</dd>
            <dt>Graded at:</dt>
            <dd>{{ submission.graded_at|date:SGA_DATETIME_FORMAT }}</dd>
        {% endif %}
        {% endif %}
        </dl>
    </div>
</div>